.page{
  position: relative;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

.mat-mdc-header-row{
  background-color: lightgray;
}

.mat-mdc-form-field {
  font-size: 20px;
  float: right;
}

.mat-column-id{
  width: 50px;
  text-align: center;
}

.mat-column-termCode{
  width: 120px;
  text-align: center;
}

.mat-column-oj{
  width: 60px;
  text-align: center;
}

.mat-column-isActive{
text-align: center;
width: 50px;
}

.mat-column-isCashIn{
text-align: center;
width: 50px;
}

.mat-column-Akcije{
  text-align: center;
  width: 400px;
  align-content: center;
  }

  .mat-mdc-cell{
    border-right: 1px solid grey;
  }
  .mat-mdc-header-cell{
    border-right: 1px solid grey;
  }
